* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #171717;
   color: white;
   padding: 3.3rem 0 8rem 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   width: 100%;
}

.container {
   max-width: 37%;
   min-width: 720px;
   margin: 0 auto;
}

/* header,
.title-container,
.content-container,
.credit {
   width: 100%;
} */

header,
.title-container {
   margin-bottom: 2.5rem;
}

header ul {
   display: flex;
   list-style-type: none;
   align-items: center;
   color: #a3a3a3;
   gap: 20px;
}

ul li {
   cursor: pointer;
}

.home,
.explore {
   font-size: 1.1rem;
}

.logo {
   margin-right: auto;
   font-size: 1.5rem;
}

ul li:hover {
   color: #ffffff;
}

.title {
   font-size: 8rem;
}

p {
   color: #a3a3a3;
   font-size: 1.3rem;
}

.content-container {
   margin-bottom: 5rem;
}

.content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.25rem 0;
   border-bottom: 1px solid #737373;
   cursor: pointer;
}

.content:last-child {
   border-bottom: none;
}

.content-title {
   font-size: 1.4rem;
}

.content-date {
   font-size: 1.2rem;
   transition: ease-in 0.2s;
}

.content:hover .content-date {
   color: #ffffff;
}

.credit p {
   text-align: center;
}

/* mobile layout */

@media (min-width: 360px) and (max-width: 720px) {
   body {
      padding: 2rem 1rem 3rem 1rem;
      overflow-x: hidden;
   }

   header {
      padding-right: 0.5rem;
   }

   .container {
      min-width: 100%;
   }

   .home,
   .explore {
      font-size: 1rem;
   }

   header,
   .credit,
   .content {
      width: 100%;
   }

   .title-container {
      margin-bottom: 1.5rem;
      line-height: 1.3;
   }

   .title {
      font-size: 3rem;
   }

   .content {
      display: block;
      padding: 0.5rem 0;
      line-height: 1.7;
   }

   p,
   .content-title {
      font-size: 1rem;
   }

   .content-date {
      font-size: 0.9rem;
   }

   .content-container {
      margin-bottom: 2rem;
   }
}
